html {
    font-size: 10px;
}

body {
    font-family: "Helvetica Neue", Arial,sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(30,30,30);
    margin: 0px;
    display: block;
}

main {
    margin: 35px 20px;
    padding: 15px;
    border-radius: 5px;
    background: rgb(220, 220, 220);
    display: block;
}

h1 {
    display: block;
    font-size: 2.3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;   
    margin-block-start: 1em;
    margin-block-end: 1em;      
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    line-height: 1.3;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

#img-div {
    background: white;
    padding: 15px;
    margin: 0;
    border-radius: 5px;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0px auto;
    overflow-clip-margin: content-box;
    overflow: clip;
}

figcaption {
    display: block;
    margin-top: 7px;
    font-size: 1.5rem;
    line-height: 1.3;
}

h3 {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}

ul {
    text-align: left;
    max-width: 500px;
    line-height: 1.5;
    margin: 0px auto 30px;
}

li {
    margin: 15px 0px;
    display: list-item;
}

article {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: justify;
    text-height: 1.2;
}
